[build]
  command = "pip install -r requirements.txt"
  functions = "netlify/functions"
  publish = "app/static"

[build.environment]
  PYTHON_VERSION = "3.11"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api"
  status = 200

[functions]
  included_files = ["app/**", "requirements.txt"]
